body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    border: 0;
    background: rgba(192, 205, 206, 0.285);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-image: radial-gradient(circle at 97.56% 37.26%, #dbdfdb 0, #cdc8cf 16.67%, #bbb0c5 33.33%, #a498bc 50%, #8882b4 66.67%, #686fae 83.33%, #3e60a8 100%);
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.back-button {
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: #d1e8e949;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #b8d4d8;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

#project-details {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #d1e8e949;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#project-details h2 {
    font-size: 1.5em;
    color: #000000;
    text-align: center;
}

#project-details p {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

#project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 125%;
    height: 270px;
    display: block;
    cursor: pointer;
}

.gallery-item:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    background-image: radial-gradient(circle at 97.56% 37.26%, #dbdfdb 0, #cdc8cf 16.67%, #bbb0c5 33.33%, #a498bc 50%, #8882b4 66.67%, #686fae 83.33%, #3e60a8 100%);
    color: rgb(0, 0, 0);
    margin-top: auto;
    width: 100%;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, .close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Botones de navegación (anterior y siguiente) */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 1.3em;
    }

    .back-button {
        padding: 8px 16px;
        top: 15px;
        left: 15px;
        font-size: 0.9em;
    }

    #project-details h2 {
        font-size: 1.3em;
    }

    #project-details p {
        font-size: 1em;
    }

    .gallery-item {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    .gallery-item img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 1em;
    }

    .back-button {
        top: 10px;
        left: 10px;
        padding: 5px 10px;
        font-size: 0.8em; /* Ajuste adicional de tamaño de fuente */
    }

    #project-details h2 {
        font-size: 1.2em;
    }

    #project-details p {
        font-size: 1.2em;
    }
}
